
@{
    ViewBag.Title = "Spor Zamanı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> Egzersizler </h1>
<b>idman 1</b>
<p>Kolları kullanarak vücudunu aşağı yukarı olarak kaldırma hareketi (15-20 kere) </p>
<p>
    <img src="~/Content/img/1.jpg" width="250" height="193" alt="Zayıflama Hareketleri" />
</p>
<p>
    <b>idman 2</b><br />Sağ kol ve sağ ayak aşağıda duracak şekilde vücudunu yukarı kaldırma hareketi <br />(15-20 kere)
</p>
<p>
    <img src="~/Content/img/2.jpg" width="250" height="109" alt="zayıflama-egzersizi" />
</p>
<p>
    <b>idman 3</b><br />Ters şınav hareketi(20 kere)
</p>
<p>
    <img src="~/Content/img/3.jpg" width="250" height="128" alt="egzersiz hareketleri" />
</p>
<p>
    <b>idman 4</b><br />Sol kol ve sol ayak aşağıda olacak şekilde vücudu yukarı kaldırma hareketi (10-20 kere)
</p>
<p>
    <img alt="zayıflama-hareketleri" src="~/Content/img/4.jpg" width="250" height="123" />
</p>
<p>
    <b>idman 5</b><br />Plank hareketi (30 saniye)
</p>
<p>
    <img alt="zayıflama-hareketleri" src="~/Content/img/5.jpg" width="250" height="70" />
</p>




