
@{
    ViewBag.Title = "Tanıtım";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Obeziteyle Savaşırken Neler Yapılmalıdır ? </h2>



<p>
    Öncelikle,obezite ile savaşırken yediğimiz şeyleri sınırlamakla başlamalıyız
</p>
<p>
    Daha sonra,tanıdıklarımızdan yardım alarak spor faaliyetleri yapmamız gerekir.
    Bizim için bu,zor bir süreç olacak olsa da imkansız bir süreç değildir.
    İrademize hakim olabilirsek eğer,şayet başarılı oluruz.
</p>