
@{
    ViewBag.Title = "Topluluk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <style type="text/css">
        .homepage-references {
            width: 985px;
            height: 2000px;
            position: relative;
            margin: 0 auto 15px auto;
        }
    </style>
</head>

<body>
    <div class="homepage-references">

        <h1>YANINIZDAYIZ </h1>
        <p>Türkiye’de obezite ile mücadele ilk defa sağlıklı toplum derneği ile başlamıştır.</p>
        <p>Aşağıda Türkiyede bulunan en aktif obezite dernekleri mevcuttur. Linklere tıklayarak sitelere detaylı olarak bakabilirsiniz. </p>
        
            <ul>
                <li>
                    <a class="homepage-reference-h2" href="http://sagliklitoplum.org.tr/tr" target="_blank">Sağlıklı Toplum Derneği</a>
                </li>
                <li>
                    <a href="http://www.obezitearastirma.org" target="_blank">Obezite Araştırma derneği</a>
                </li>
                <li>
                    <a href="http://www.diobes.org/?p=tuzuk" target="_blank">Diyabet Obezite ve Beslenme Derneği</a>
                </li>
                <li>
                    <a href="http://tsmbs.org/Pages/3/BMCD_Tuzuk" target="_blank">Bariatrik ve Metabolik Cerrahi Derneği</a>
                </li>
                <li>
                    <a href="http://www.endokrin.com/tuzuk.php" target="_blank">Endokrinoloji Derneği</a>
                </li>
            </ul>
        
        <section class="tt-grid-wrapper">
            <ul class="tt-grid tt-effect-stackback tt-effect-delay">
                <li><a href="#"><img src="~/Content/img/top1.jpg" alt="img01" /></a></li>
                <li><a href="#"><img src="~/Content/img/top2.jpg" alt="img01" /></a></li>
                <li><a href="#"><img src="~/Content/img/top3.jpg" alt="img02" /></a></li>

            </ul>
        </section>
        <h1> OBEZİTENİN NEDEN OLDUĞU HASTALIKLAR</h1>
        <p>
            Diyabet-İnsülin Direnci :
            Obeziteye bağlı olarak en sık gelişen kronik hastalıklardan bir tanesi, halk arasında şeker hastalığı olarak bilinen diyabet hastalığıdır. İnsanlarda yağ dokusunun aşırı miktarda artması, vücuttaki hücrelerin insülin hormonuna karşı olan duyarlılığını azaltır ve bu durum insülin direnci olarak adlandırılan sağlık sorununa neden olur. Kandaki şeker, insüline karşı duyarsızlaşmış olan hücrelerin içerisine alınamadığından kan şekerinde yükseklik gözlenir. Söz konusu durum, Tip-2 diyabetin gelişmesinde etkili olan sorundur. Tip-2 diyabet, şeker hastalığının en yaygın türüdür ve obezite hastalarının birçoğunda insülin direnci görülür. Prediyabet (diyabet öncesi) olarak isimlendirilen ve diyabetin henüz tam olarak gelişmemiş olduğu başlangıç seviyesindeki hastalarda insülin direnci gözlenir. Zayıflama diyeti veya obezite cerrahisi gibi tedavi yöntemleriyle obezite durumunun ortadan kaldırılması, prediyabet dönemindeki hastalarda insülin direncinin azaltılarak diyabet hastalığının oluşmadan önlenebilmesi açısından çok önemlidir.
        </p>
        <p>
            Hipertansiyon :
            Ülkemizde ve dünya genelinde yaygın şekilde görülen hipertansiyon hastalığı, obezite hastalarında normal kilodaki bireylere oranla yaklaşık olarak 3 kat daha fazla görülür. Obez bireylerde hipertansiyonun ortaya çıkış sebepleri arasında yağ dokusundaki artış, buna bağlı olarak aşırı insülin üretimi (hiperinsülinemi) ve insülin direnci, damar ve hücre yapılarında bozulmalar gibi pek çok faktör yer alır. Dolayısıyla obezite hastalarının ideal kilolarına ulaştırılması, hipertansiyonun önlenmesi veya ilerleyişinin engellenmesi açısından oldukça etkilidir.
        <p>
            Koroner Arter Hastalığı :
            Obez bireylerde özellikle karında oluşan aşırı yağlanma, kalbin üzerinde baskı oluşturarak çalışmasını olumsuz etkileyebilir. Bunun yanı sıra obeziteye bağlı olarak gelişen insülin direncinin sonucunda kan şekeri yükselerek damar çeperlerinde yapısal bozulmalara yol açabilir, bu da kardiyovasküler hastalıkların temelini oluşturabilir. Tüm bunlardan kaynaklı olarak obezite hastalarında kalp ve damar hastalıklarının görülme olasılığı sağlıklı kişilere oranla oldukça yükselir. Obezitenin mümkün olduğunca erken tedavi edilmesi ise bu hastalıkların önlenebilmesi açısından önem taşır.
        </p>
        <p>
            Safra Kesesi Hastalıkları :
            Obezite hastaları, çoğunlukla kandaki kolesterol değerleri yüksek olan bireylerdir. Safra kesesinde üretilen safra sıvısının içeriğinde de bulunan kolesterolün kandaki değerinin normalin üzerine çıkması safra kalitesinin bozulmasına, bu da safra kesesinde taş oluşumuna neden olur. Bu nedenle safra kesesinde taş ve safra kanallarında tıkanıklık gibi olumsuzluklarla seyreden safra kesesi hastalıkları obezite ile doğrudan ilişkilidir.
        </p>
        <p>
            Felç (İnme) :
            Obezitenin risk faktörü olarak değerlendirildiği sağlık sorunlarından bir diğeri de halk dilinde inme olarak da bilinen felç durumudur. Vücudun bir bölümündeki kasların istemli şekilde hareket ettirilmesi yeteneğinin herhangi bir nedenle kaybedilmesi felç olarak adlandırılan durumdur. Obezite hastalarında damarlarda oluşan yapısal bozulmalar ve tansiyon yüksekliği riskinin artması gibi sebeplerle miyokard infarktüsü (kalp krizi) ve beyin kanaması gibi ciddi akut komplikasyonların görülme sıklığı önemli ölçüde yükselir.
<p>
            
<p>
    Uyku Apnesi :
    Obezite hastalarında damak ve küçük dil bölgesinde sarkma ve büyüme, solunum yollarında darlaşma ve nefes darlığı sıklıkla görülür. Uyku sırasında yatar pozisyonda olan vücutta karın bölgesinin oluşturduğu ağırlıktan kaynaklı olarak solunum yolunda daralma söz konusu olur. Oluşan bu komplikasyonların sonucunda kişide uykudayken belirli bir süre için nefes alıp vermenin durması ile karakterize bir sağlık sorunu olan uyku apnesi ortaya çıkar.
<p>
           
        </p>
<p>
    Astım :
    Yaşam kalitesini ciddi ölçüde düşüren hastalıklardan biri olan astım, obez bireylerde normal kilodaki bireylere oranla çok daha ağır seyreder. Hastalarda astım atakları kilodaki artışa bağlı olarak çok daha sık görülebilir ve hastalığın kontrol altında tutulması zorlaşır. Dolayısıyla obeziteyle bir arada seyreden astım hastalığının tedavisinde başarı oranının yükseltilebilmesi açısından kilo kontrolünün sağlanması önemlidir.
</p>
<p>
    Psikolojik Problemler :
    Yol açtığı tıbbi komplikasyonların yanı sıra estetik anlamda da olumsuzluklar yaşayan obezite hastaları, toplum içerisinde hoş görülmeme veya dışlanma gibi sorunlar da yaşar. Bu durum hastalarda depresyon, özgüven eksikliği, obsesif kompülsif bozukluk gibi birtakım psikolojik sorunların görülme olasılığı yükselir. Bu hastalarda gelişen psikolojik problemler ve bunların yol açtığı sorunlar kilo kontrolünün sağlanarak bireylerin ideal kilolarına ulaştırılması ile minimuma indirilebilir.

    Yukarıda da belirtildiği şekilde obezite, insan yaşamını büyük ölçüde etkileyen ve birçok hastalığın oluşumunda birincil risk faktörü olarak rol oynayan, bu nedenle mutlaka tedavi edilmesi gereken bir sağlık sorunudur. Obezlerde mortalite (ölüm) oranı, diyete dayanan zayıflama yöntemleri ile tedavi sürecini kaldırabilecek durumda olduğunda zayıflama, diyetisyen tarafından kişiye özgü şekilde hazırlanmış bir beslenme planı ile programlı olarak gerçekleştirilmelidir. Fakat obezite çok ileri düzeyde ve yaşamı tehdit edecek boyutta ciddi komplikasyonlara yol açmış ise obezite cerrahisi şeklinde adlandırılan birtakım tedavi yöntemlerine başvurulması gerekebilir. Gastrik bypass, tüp mide ameliyatı, mide küçültme ameliyatı gibi bu yöntemlerin nasıl ve hangi durumlarda uygulanacağına obezite cerrahisi uzmanı tarafından yapılan detaylı muayene ışığında karar verilmelidir.
</p>
    </div>

</body>
</html>

