
@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>

    <title>Image Slider css3</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>
    <div id="slider">
        <figure>
            <img src="~/Content/img/slider1.jpg">
            <img src="~/Content/img/slider5.jpg">
            <img src="~/Content/img/slider3.jpg">
            <img src="~/Content/img/slider4.jpg">      
        </figure>
    </div>

    <div>


        <style type="text/css">
            .homepage-references {
                width: 900px;
                height: 790px;
                position: relative;
                margin: 0 auto 15px auto;
            }


            .homepage-references-h2 {
                text-align: center;
                font-size: 22px;
            }
        </style>


    </div>
      

        <div class="homepage-references">
            <h2 class="homepage-references-h2">Obezite Nedir? </h2>
            <p>
                Sağlıklı bir yaşam sürdürmek için, alınan enerji ile harcanan enerjinin dengede tutulması gerekmektedir.
            </p>
            <p>
                Yetişkin erkeklerde vücut ağırlığının %15-18&#39;i, kadınlarda ise %20-25&#39;ini yağ dokusu oluşturmaktadır. Bu oranın erkeklerde %25, kadınlarda ise %30&#39;un üstüne çıkması obeziteyi oluşturmaktadır.
            </p>
            <p>
                Günlük alınan enejjinin harcanan enerjiden fazla olması durumunda, harcanamayan enerji vucutta yağ olarak depolanmakta ve obezite oluşumuna neden olmaktadır.
            </p>
            <p>
                Buna paralel olarak, günümüz teknolojisindeki gelişmeler, yaşamı kolaylaştırmakla birlikte, günlük hareketleri önemli ölçüde sınırlamıştır.
            </p>
            <p>
                Anlaşılacağı üzere obezite; besinlerle alınan enerjinin (kalori) harcanan enerjiden fazla olması ve fazla enerjinin vücutta yağ olarak depolanması (%20 veya daha fazla) sonucu ortaya çıkan, yaşam kalitesini ve süresini olumsuz yönde etkileyen bir hastalık olarak kabul edilmektedir.
            </p>
            <p>
                Obezite ya da halk arasında bilinen adıyla şişmanlık, vücutta fazla miktarda yağ birikmesi sonucu ortaya çıkan ve mutlaka tedavi edilmesi gereken bir hastalıktır.

                Obezite, besinlerle alınan enerji miktarının, metabolizma ve fizik aktivite ile tüketilen enerji miktarını aştığı durumda ortaya çıkar.   Sonuç olarak obezite, insan yaşamını kısaltan ve yaşam kalitesini olumsuz yönde etkileyen bir hastalık olarak tanımlanabilir. Yapılan araştırmalara göre, obezite özellikle son 20 yılda, bütün dünyada süratle artmakta ve bir salgın hastalık gibi yayılmaktadır. Bu salgından ülkemiz de etkilenmektedir. Kadın nüfusumuzun yaklaşık üçte biri, erkek nüfusumuzun da yaklaşık beşte biri obez, yani şişmandır.
            <p>

            <p>
            Obezite belirtileri nelerdir?
            Obezite hastalığının en temel belirtisi vücutta aşırı düzeyde yağ dokusu birikimidir. Fakat oluşan fazla kilolar obezitenin görsel sorunlarının yanı sıra birtakım sağlık sorunlarını da beraberinde getirebilir. Obeziteye bağlı olarak ortaya çıkan sorun ve belirtilerin arasında şunlar yer alır:

            Terleme
            Çabuk yorulma
            Nefes darlığı
            Horlama ve uyku apnesi
            Cilt sorunları
            Sırt ve eklem ağrıları
            Psikolojik sorunlar ve benlik saygısında azalma
            Tüm bu sorunların oluşumunun önlenmesi ve obeziteye bağlı oluşabilecek kronik hastalıkların engellenmesi açısından fazla kilo sorunu bulunan bireylerin obezite boyutuna ulaşmadan önce zayıflaması ve ideal kilolarını korumaya özen göstermeleri gerekmektedir.
            <p>
            <p>
                Obezite nedenleri nelerdir?
                Obezitenin en temel nedeni besinlerle birlikte vücuda alınan enerjinin metabolizma ve fiziksel aktivitelerle birlikte harcanan enerjiden fazla olması ve buna bağlı olarak artan enerjinin yağ şeklinde depolanmasıdır. Bu durum gereksinimin üzerinde enerji alımının belirli bir süre boyunca devam etmesi ile oluşur. Zayıflık, şişmanlık ve obezite vücut kitle indeksi (VKİ) olarak adlandırılan bir yöntemle değerlendirilir. Obezite hastaları, bir tür obezite testi olarak da düşünülebilecek olan vücut kitle indeksinin 30 ve üzerinde çıktığı hastalardır. Beden kütle indeksi (BKİ) olarak da isimlendirilen bu değer, vücut kütlesinin kilogram cinsinden ölçüsünün boyun metre cinsinden ölçüsünün karesine bölünmesi ile hesaplanır. Dünya Sağlık Örgütü tarafından belirlenmiş sınıflama gereğince obezite hesaplama için de kullanılan vücut kitle indeksine (VKİ) göre şu şekilde sınıflandırılır:

                18.5 altında -- Az kilolu
                18.5 - 24.9 -- Normal Kilo
                25.0 - 29.9 -- Fazla Kilo
                30.0 - 39.9 -- Obez
                40.5'in üzeri -- Morbid (ciddi)
                50 ve üstü -- Süper Obez olarak belirlenmiştir.
            <p>
   

    </div>
</body>
</html>
