
@{
    ViewBag.Title = "Yemek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Yemek Tarifi</h1>
<img src="~/Content/img/yemek.jpg" alt="resim" class="img-left" />

<p>
    <h1>"Sodalı Karnabahar Tarifi"</h1>
    <h2>Gerekenler</h2>
    <ul>
        <li> 1 adet orta boy karnabahar  </li>
        <li>   1 şişe soda(maden suyu)      </li>
        <li>  2 adet yumurta </li>
        <li>   1 su bardağı un </li>
        <li> 1 çay kaşığı nişasta </li>
        <li>   1 tatlı kaşığı tuz  </li>
        <li>  1 çay kaşığı karabiber   </li>
        <li>  Kırmızı toz biber(isteğe göre)  </li>
        <li>   Sıvı yağ  </li>
    </ul>
</p>

<p>
    <h1> Nasıl hazırlanır ? </h1>
<p>
    Hazırlamak için öncelikle 1 adet orta boy karnabaharın sap kısımlarını biraz kesip,çiçeklerine ayırın
    Ardından karnabaharları derin bir tencerenin içerisine koyup,üzerine sıcak su dökün
    Suyuna biraz tuz ekleyip,dağılmayacak şekilde yumuşayana kadar haşlayın
    Haşlandıktan sonra suyunu süzüp soğumaya bırakın

</p>
Daha sonra,soğumaya bıraktığınız karnabaharları sodalı harca bulayın
Daha sonra kızgın yaağ koyup kızartın
Havlu kağıt sarılı bir tabak üzerinde yağı süzün
Afiyet olsun.

<p>

